
body {
}

.justify-content-center {
    width: 100%;
    height: 300px;
}

.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 5px;
}

/* Thay đổi trong CSS */
.package-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.package-item {
    flex: 0 0 calc(31.333% - 20px); /* Chiều rộng của mỗi bảng là 1/3 của container với khoảng trắng giữa */
    margin-bottom: 100px; /* Khoảng cách dưới giữa các bảng */
    box-sizing: border-box;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column; /* Xếp theo chiều dọc */
    position: relative;
}

    .package-item:nth-child(3n) {
        margin-right: 0; /* Reset margin-right cho bảng thứ 3, 6, 9, ... để đảm bảo chỉ có 3 bảng trên mỗi hàng */
    }

.package-item-photo {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

    .package-item-photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out; /* Set the transition property */
    }

    .package-item-photo:hover img {
        transform: scale(1.1); /* Set the desired transformation on hover */
    }

.package-item-sale {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF0000;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.package-item-info {
    padding: 20px;
}

.package-item-detail {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    padding: 20px;
    flex: 1;
}

.package-item-price {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFF;
    background-color: #4da5ff;
    height: 40px;
    width: 200px;
    border-radius: 6px;
    text-align: center
}

.package-item-gender {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.package-item-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

@media screen and (max-width: 600px) {
    .package-item {
        flex: 0 0 calc(100% - 20px); /* Mỗi bảng sẽ chiếm hết chiều rộng của container trên thiết bị di động */
    }
}


.plus-icon-container {
    display: inline-block;
    border-radius: 50%;
    background-color: #ff4e4d; /* Màu xanh lá biển */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Add position relative */
    margin-top: 10px; /* Điều chỉnh khoảng cách giữa biểu tượng và nội dung */
    margin-right: 10px; /* Điều chỉnh khoảng cách giữa biểu tượng và cạnh bên phải */
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; /* Adjust margin if necessary */
}

.plus-icon {
    color: #fff; /* Màu trắng */
    font-size: 20px;
}


.custom-search-input {
    height: 40px; /* Điều chỉnh chiều cao của ô tìm kiếm */
    width: 100%; /* 100% chiều rộng của ô tìm kiếm */
    border: 2px solid #ccc; /* Đường viền màu xám nhạt */
    border-radius: 5px; /* Bo góc của ô tìm kiếm */
    padding: 8px; /* Khoảng cách giữa nội dung và đường viền */
    box-sizing: border-box; /* Đảm bảo rằng kích thước bao gồm cả đường viền */
}

.custom-search-btn {
    width: 150px;
    font-size: 18px;
    /* Thêm các thuộc tính CSS khác nếu cần */
}

.search-container {
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    width: 150px;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }
