@page "/cauhoi"
@rendermode InteractiveAuto
@using System.Globalization;

<div class="row">
    <div class="col-sm-6">
        @max
    </div>
    <div class="col-sm-6">
        @cauhoi
    </div>
</div>

@code {
    string cauhoi = "0.5";
    float max;

    protected override async Task OnInitializedAsync()
    {
        max = float.Parse(cauhoi, CultureInfo.InvariantCulture);
    }
}

