
/*Vì sao chọn chúng tôi*/
.visao-container {
    margin-bottom: 50px; /* Điều chỉnh giảm khoảng cách dưới */
}

.card {
    transition: transform 0.3s ease-in-out;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
}

    .card:not(.no-hover):hover {
        background-color: #66b2ff;
        color: #fff;
    }

    .card .col-md-4 img {
        max-width: 100%;
        max-height: 100%;
    }

    .card .col-md-8 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .card .col-md-8 .card-body h5 {
            font-size: 2.0rem;
        }

        .card .col-md-8 .card-body p {
            max-height: 100%;
            overflow: hidden;
        }

    .card .row.g-0 {
        width: 100%;
    }

    .card:hover {
        transform: scale(1.05);
    }

.row.with-background {
    background-image: url('imgtrangchu/hinhnen10.png'); /* Đặt đường dẫn đến hình nền của bạn */
    background-size: cover; /* Đảm bảo hình nền đầy đủ kích thước */
    background-position: center; /* Căn giữa hình nền */
    color: #fff; /* Màu chữ trên hình nền (nếu bạn muốn) */
}

.card.with-background .card-body {
    padding: 20px 20px; /* Thêm padding vào nội dung card để không bị mất nội dung vào hình nền */
}

.card-title {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    background-color: aquamarine;
}
