@inherits LayoutComponentBase
<nav style="z-index: 800;" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Quản lý</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listDXN">Đơn cần duyệt</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Quản lý đơn
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/listDXNDD">Đơn đã duyệt</a>
                        <a class="dropdown-item" href="/listDXNTC">Đơn bị từ chối</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ListchoXN">Xác nhận mẫu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listDXNKQ">Trả kết quả</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/listchatBS">Tư Vấn(Chat)</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Quản lý
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/listBS">Bác sĩ</a>
                        <a class="dropdown-item" href="/listGXN">Gói xét nghiệm</a>
                    <a class="dropdown-item" href="/listdscoKQ">Kết quả</a>
                    <a class="dropdown-item" href="/listTV">Tư Vấn</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="nav-link" href="/DXNBS">Đơn cần lấy mẫu</a>
            </span>
        </div>
    </nav>
    <div style="height:20px" class="row"></div>

