@page "/huhu"

<h3>Địa chỉ 1: @diachi1</h3>
<h3>Địa chỉ 2: @diachi2</h3>

<div id="myMap" style="position:relative;width:600px;height:400px;"></div>

@code {
    public string diachi1 = "23 Lý Nhân Tông";
    public string diachi2 = "30 Lý Thái Tổ";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
       
        }
    }
}
