@using duanxetnghiem.Components
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link href="lib/quill/dist/quill.snow.css" rel="stylesheet" />
    <link href="lib/quill/dist/quill.bubble.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="duanxetnghiem.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <HeadOutlet />
</head>

<body>

    <Routes />
    <script src="lib/quill/dist/quill.min.js"></script>
    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="jscript/graph.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
<div style="height:500px;"></div>
<footer class="footer custom-footer" style="background-color: #f2f2f2; padding: 20px;z-index: 10000;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/logo.jpg" alt="Âu Lạc Logo" style="width: 150px; height: auto;">
            </div>
            <div class="col-md-3">
                <h4>Thông tin liên hệ</h4>
                <p>Địa chỉ: 23 Lý Nhân Tông, TP Huế</p>
                <p>Số điện thoại: 0988 889 999</p>
                <p>Email: <a href="mailto:dolaamphu111@gmail.com">aulac@gmail.com</a></p>
            </div>
            <div class="col-md-3">
                <h4>Liên kết nhanh</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="/DichVuXetNghiem">Dịch vụ</a></li>
                    <li><a href="lienhe">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Theo dõi chúng tôi</h4>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</html>
