@page "/starship-2"
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveAuto

<div id="loader-container" class="loader-container">
	<div class="loader"></div>
</div>
<script>
	window.onload = function () {
		document.getElementById("loader-container").addEventListener("click", function (event) {
			event.stopPropagation();
		});

		document.body.addEventListener("keydown", function (event) {
			event.stopPropagation();
		});
	};
</script>
