@page "/Chat/{id:int}"
<div>
	@foreach (var chat in allChat)
	{
		<div>
			@chat.userid <br>
			@chat.data
		</div>
	}
</div>
@code {
	[Parameter]
	public int id { get; set; }
	[Inject]
	protected AuthenticationStateProvider AuthenticationStateProvider { get; set; }
	public string UserName { get; set; }
	public User user { get; set; } = new();
	public List<Chat> allChat { get; set; } = new();
	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		UserName = authState.User.Identity.Name;
		user = await Usertservice.getuserbyemail(UserName);
		allChat = await Chatservice.getallbyidroomAsync(id);
	}
}
