@page "/mlem"
@rendermode InteractiveAuto
@inject IConfiguration config
@using System.IO

<InputFile OnChange="LoadFilesAsync" multiple />

<p>@currentCount</p>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color: red;">@errorMessage</p>
}

@code {
    private int currentCount = 0;
    private string errorMessage = "";

    private async Task LoadFilesAsync(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles(3))
        {
            if (file.Size > 3 * 1024 * 1024)
            {
                errorMessage = $"File {file.Name} exceeds the maximum allowed size (3MB).";
                continue;
            }

            try
            {
                string newFileName = Path.ChangeExtension(DateTime.Now.ToString("yyyy-dd-M--HH-mm-ss"), Path.GetExtension(file.Name));
                string directoryPath = Path.Combine("D:\\khoaluan", "test");
                string filePath = Path.Combine(directoryPath, newFileName);
                Directory.CreateDirectory(directoryPath);
                await using FileStream fs = new(filePath, FileMode.Create);
                await file.OpenReadStream().CopyToAsync(fs);
            }
            catch (Exception ex)
            {
                errorMessage = $"An error occurred while uploading file {file.Name}: {ex.Message}";
            }
        }
    }
}
