@page "/counter"


<div id="map" style="height: 400px;"></div>

@code {
    string diachi = "23 Lý Nhân Tông,Tp Huế";
    string diachi2 = "23 Nguyễn Huệ,Tp Huế";
}
<script>
    function initMap() {
        var address = "@diachi"; // Sử dụng giá trị diachi từ code Blazor
        var geocoder = new google.maps.Geocoder();

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3KqUm617biwCLKIRYLwROqQtd3NTU2-U&callback=initMap" async defer></script>



