body {
}

.justify-content-center {
    width: 100%;
    height: 300px;
}

.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 5px;
}

/* Thay đổi trong CSS */
.package-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.package-item {
    flex: 0 0 calc(31.333% - 20px); /* Chiều rộng của mỗi bảng là 1/3 của container với khoảng trắng giữa */
    margin-bottom: 100px; /* Khoảng cách dưới giữa các bảng */
    box-sizing: border-box;
    margin-bottom: 60px;
}

    .package-item:nth-child(3n) {
        margin-right: 0; /* Reset margin-right cho bảng thứ 3, 6, 9, ... để đảm bảo chỉ có 3 bảng trên mỗi hàng */
    }

.package-item-photo {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

    .package-item-photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.package-item-sale {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF0000;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.package-item-view {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ff4e4d;
    text-decoration: none;
    font-size: 20px;
}

.package-item-info {
    padding: 20px;
}

.package-item-detail {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
    padding: 20px;
    flex: 1;
}

.package-item-price {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFF;
    background-color: #4da5ff;
    height: 40px;
    width: 150px;
    border-radius: 6px;
}

.package-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.package-item-meta {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.package-item-gender,
.package-item-age,
.package-item-address {
    margin-right: 15px;
    font-size: 14px;
    color: #555;
}

@media screen and (max-width: 600px) {
    .package-item {
        flex: 0 0 calc(100% - 20px); /* Mỗi bảng sẽ chiếm hết chiều rộng của container trên thiết bị di động */
    }
}

body {
}

.shopping-cart-icon {
    margin-left: 100px; /* Có thể điều chỉnh khoảng cách giữa biểu tượng và văn bản */
    font-size: 50px;
}
