body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #132432;
    background-color: #fff;
    overflow-x: hidden;
    line-height: 1.5;
}

.block-title h2 {
    font-size: 24px;
    line-height: 1.4;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 1490px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.xntn-why-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.xntn-why-item {
    background-color: #FFFFFF;
    border: 1px solid #CEE8FA;
    width: calc(33.33% - 5px);
    padding: 20px;
    min-height: 180px;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 5px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

    .xntn-why-item:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #66B2FF;
    }

.xntn-why-item-image {
    margin-bottom: 10px;
    height: 80px;
}

    .xntn-why-item-image img,
    .xntn-why-item-image svg {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

.xntn-why-item-title {
    display: block;
    margin: 0;
    color: #132432;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
}

.xntn-why-item-des {
    margin-top: 12px;
}

.xntn-why-item-detail {
    position: relative;
    z-index: 2;
    font-size: 14px;
    width: 100%;
}
.row {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.col-md-3 {
    flex: 0 0 calc(25% - 10px); /* Thay đổi giá trị 33.333% thành 25% để chia thành 4 cột */
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box; /* Thêm dòng này để giảm padding/border ảnh hưởng đến kích thước */
}

.card {
    max-width: 100%;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-item-details {
    font-size: 14px;
    margin-bottom: 10px;
}

.post-item-title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 24px;
}

.post-item-photo img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.post-item-photo a:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.lienhe-info {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.info-left {
    flex: 0.5;
}

.guithongtin {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 2px solid #1d93e3;
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}



.info-right {
    flex: 1;
    margin-left: 20px;
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 10px;
}


/* Thêm CSS để căn chỉnh nút về phía bên phải của bảng */
