@page "/"

@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager navigation;
@if (err != "")
{
    <p>@err</p>
}
<div class="card text-center">

    <div style="height: 300px;" class="card-body">
        <h4 class="card-title">Xét Nghiệm Máu Tại Nhà</h4>
        <p class="card-text">Dịch vụ xét nghiệm máu chất lượng cao, tiện lợi và an toàn ngay tại nhà bạn</p>
        <EditForm Model="Input" method="post" OnValidSubmit="add" FormName="register">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <InputText style="width: 70%; height: 36px;" @bind-Value="Input" placeholder="Nhập kết quả xét nghiệm                  " />
            <ValidationMessage For="() => Input" class="text-danger" />
                <br>
            <br>
            <br>
            <div class="row justify-content-center">
                <a style="width:250px;" href="/datlich" class="btn btn-outline-dark  ">Đặt lịch hẹn</a>
                <button style="width:250px;" type="submit" class="btn btn-dark ">Xem kết quả</button>
            </div>
        </EditForm>
    </div>
</div>
<div style="height:50px;" class="row"></div>
<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6 d-flex flex-column align-items-center">
        <h4 style="font-family: 'Roboto';font-style: normal;font-weight: 700;font-size: 40px;line-height: 48px;">
            Dịch vụ của chúng tôi
        </h4>
        <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;">
            Chúng tôi cung cấp các gói xét nghiệm máu chuyên sâu,
        </p>
        <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;">
            đảm bảo phục vụ mọi nhu cầu của bạn.
        </p>
        <a href="#" class="btn btn-dark">Đặt lịch hẹn</a>
        <div style="height:30px" class="row"></div>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="1.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">xét nghiệm máu tổng quát</h5>
                        <p class="card-text">240 chỉ số xét nghiệm </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="2.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Đường huyết (đói)</h5>
                        <p class="card-text">100 chỉ số xét nghiệm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--TaiSSaoChonChungtoi-->
<!-- Tại sao chọn chúng tôi -->

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="block-title">
            <h2 style="font-family: 'Roboto';font-style: normal;font-weight: 700;font-size: 40px;line-height: 48px;">
                VÌ SAO CHỌN CHÚNG TÔI ?
            </h2>
            <p style="font-size: 20px;">
                Lấy mẫu xét nghiệm tại nhà giúp tiết kiệm thời gian và kết quả sẽ được trả ngay tại nhà hoặc tra cứu kết quả trên website.
                Mang lại cho bạn những kết qủa chính xác và tin cậy.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img style="max-width: 100px; max-height: 100px; margin-top: 50px; margin-left: 15px;" src="kinhnghiem.png" alt="Hình ảnh bài viết" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 40px">Kinh nghiệm</h5>
                                <p class="card-text">
                                    Bệnh viện Âu Lạc có hơn một thập kỷ hoạt động trong lĩnh vực y tế, được mô tả là một địa chỉ uy tín và có kinh nghiệm trong xét nghiệm máu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img style="max-width: 100px;max-height: 100px ;margin-top: 40px" src="tuvanketqua.png" alt="Article Image" class="img-fluid">
                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 40px">Tư vấn</h5>
                                <p class="card-text">
                                    Bác sĩ tư vấn cho khách hàng những thắc mắc hoặc có kết quả bất thường và đưa ra lời khuyên cho bệnh nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img style="max-width: 100px;max-height: 100px ;margin-top: 40px" src="nhanluc.png" alt="Article Image" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 40px">Nhân lực</h5>
                                <p class="card-text">
                                    Đội ngũ chuyên gia, bác sĩ đầu ngành và nhân viên lấy mẫu chuyên nghiệp với chứng chỉ hành nghề.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img style="max-width: 100px;max-height: 100px ;margin-top: 40px; margin-left: 15px; " src="chiphi1.png" alt="Article Image" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 40px">Chi phí</h5>
                                <p class="card-text">
                                    Bệnh viện cam kết cung cấp dịch vụ với chi phí hợp lý và minh bạch, thông báo bảng giá dịch vụ công khai.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img style="max-width: 100px;max-height: 100px ;margin-top: 40px" src="quymo.png" alt="Article Image" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 40px">Quy mô</h5>
                                <p class="card-text">
                                    Bệnh viện cam kết cung cấp dịch vụ với chi phí hợp lý và minh bạch, thông báo bảng giá dịch vụ công khai.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img style="max-width: 100px;max-height: 100px ;margin-top: 40px" src="thoigiantuvan1.png" alt="Article Image" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 40px">Thời gian</h5>
                                <p class="card-text">
                                    Bệnh viện hứa hẹn thời gian phục vụ linh hoạt và ngắn gọn, giảm thiểu đợi lâu cho bệnh nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img style="max-width: 100px;max-height: 100px ;margin-top: 30px" src="traketquachinhxac.png" alt="Article Image" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 40px">Trả kết quả</h5>
                                <p class="card-text">
                                    Bệnh viện cam kết mang lại kết quả chính xác và tin cậy cho bệnh nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img style="max-width: 100px;max-height: 100px ;margin-top: 40px" src="dungcu.png" alt="Article Image" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 40px">Thiết bị</h5>
                                <p class="card-text">
                                    Bệnh viện cam kết mang lại kết quả chính xác và tin cậy cho bệnh nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center">
                            <img style="max-width: 100px;max-height: 100px ;margin-top: 40px" src="hoso.png" alt="Article Image" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 40px">Hồ sơ</h5>
                                <p class="card-text">
                                    Bệnh viện hứa hẹn thời gian phục vụ linh hoạt và ngắn gọn, giảm thiểu đợi lâu cho bệnh nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tin tức mõi ngày-->
<div class="container mt-5">
    <div class="row justify-content-center" style="margin: 0 auto;">
        <div class="row">
            <div class="col-md-12 d-flex flex-column ">
                <div class="d-flex flex-column align-items-center align-self-start" style=" margin: 0 auto; ">
                    <h4 style="font-family: 'Roboto'; font-style: normal; font-weight: 800; font-size: 40px; line-height: 30px; margin-bottom: 50px; margin-top: 20px;">
                        Tin tức mỗi ngày
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="post-item-info">
                    <div class="post-item-photo">
                        <a href="/Ng%C6%B0%C6%A1iHung:NhungChienSiVuotKhoKhanTrongViecLayXetNghiemMauTaiNha" class="post-image-container" tabindex="-1">
                            <img src="https://medlatec.vn/media/34156/file/_lay-mau-3.jpg" alt="" loading="lazy" style="width: 100%;">
                        </a>
                    </div>
                    <div class="post-item-details">
                        <h3 class="post-item-title">
                            <a href="/Ng%C6%B0%C6%A1iHung:NhungChienSiVuotKhoKhanTrongViecLayXetNghiemMauTaiNha" tabindex="-1">NHỮNG CHIẾN SĨ VƯỢT KHÓ KHĂN TRONG VIỆC...</a>
                        </h3>
                        <div class="post-item-excerpt">
                            Hình ảnh nữ cán bộ y tế chèo thuyền đến tận nhà lấy mẫu xét nghiệm khi Huế ngập trong biển nước vẫn luôn khiến ...
                        </div>
                        <div class="post-item-actions">
                            <a href="/Ng%C6%B0%C6%A1iHung:NhungChienSiVuotKhoKhanTrongViecLayXetNghiemMauTaiNha" tabindex="-1">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="post-item-info">
                    <div class="post-item-photo">
                        <a href="/NhungLoiIchKhiXetNghiemMauTaiNha" class="post-image-container" tabindex="-1">
                            <img src="https://medlatec.vn/media/34156/file/_lay-mau-3.jpg" alt="" loading="lazy" style="width: 100%;">
                        </a>
                    </div>
                    <div class="post-item-details">
                        <h3 class="post-item-title">
                            <a href="/NhungLoiIchKhiXetNghiemMauTaiNha" tabindex="-1">LỢI ÍCH KHI XÉT NGHIỆM MÁU TẠI NHÀ...</a>
                        </h3>
                        <div class="post-item-excerpt">
                            Hình ảnh nữ cán bộ y tế chèo thuyền đến tận nhà lấy mẫu xét nghiệm khi Huế ngập trong biển nước vẫn luôn khiến ...
                        </div>
                        <div class="post-item-actions">
                            <a href="/NhungLoiIchKhiXetNghiemMauTaiNha" tabindex="-1">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="post-item-info">
                    <div class="post-item-photo">
                        <a href="/NhungLoiIchKhi" class="post-image-container" tabindex="-1">
                            <img src="https://medlatec.vn/media/34156/file/_lay-mau-3.jpg" alt="" loading="lazy" style="width: 100%;">
                        </a>
                    </div>
                    <div class="post-item-details">
                        <h3 class="post-item-title">
                            <a href="/NhungLoiIchKhi" tabindex="-1">DỊCH VỤ LẤY MẪU XÉT NGHIỆM TẬN NƠI MEDLATEC - GỌI LÀ CÓ!...</a>
                        </h3>
                        <div class="post-item-excerpt">
                            Hình ảnh nữ cán bộ y tế chèo thuyền đến tận nhà lấy mẫu xét nghiệm khi Huế ngập trong biển nước vẫn luôn khiến ...
                        </div>
                        <div class="post-item-actions">
                            <a href="/NhungLoiIchKhi" tabindex="-1">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nhận xét của khách hàng -->
<div style="height:50px;" class="row"></div>
<div class="row d-flex align-items-center justify-content-center">
    <!-- Title -->
    <div class="col-md-6 d-flex flex-column align-items-center">
        <div class="title" style=" font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 40px; line-height: 48px; color: #000000;">
            Nhận xét của khách hàng
        </div>
    </div>

    <div class="col-md-6 d-flex flex-wrap justify-content-center">
        <!-- Customer Review Card 1 -->
            <div class="col-md-6">
             <div class="card d-flex flex-column justify-content-center align-items-center p-3 gap-3" style=" background: rgba(0, 0, 0, 0.05); border-radius: 6px;">
                 <!-- User -->
                 <div class="user d-flex flex-row align-items-center gap-2" style="">
                     <!-- Avatar -->
                    <div class="avatar d-flex flex-row align-items-center gap-2" style="width: 32px; height: 32px; background: rgba(0, 0, 0, 0.1); border-radius: 32px;"></div>
                    <!-- Frame -->
                    <div class="frame d-flex flex-column align-items-start" style="width: 105.74px; height: 20px;">
                        <!-- Title in Frame -->
                        <div class="title" style="width: 105.74px; height: 20px; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; color: #000000;">
                            Văn Tương Linh
                        </div>
                            <img src="7.jpg" style="width: 60px; height: 30px">
                     </div> 
                </div>
                <!-- Review Content -->
                <p>Dịch vụ nhanh chóng, tiện lợi và dễ dàng sử dụng.</p>
             </div>
            </div>
   
        <!-- Customer Review Card 2 -->
           <div class="col-md-6">
            <div class="card d-flex flex-column justify-content-center align-items-center p-3 gap-3" style=" background: rgba(0, 0, 0, 0.05); border-radius: 6px;">
                <!-- User -->
                <div class="user d-flex flex-row align-items-center gap-2" style="">
                    <!-- Avatar -->
                    <div class="avatar d-flex flex-row align-items-center gap-2" style="width: 32px; height: 32px; background: rgba(0, 0, 0, 0.1); border-radius: 32px;"></div>
                    <!-- Frame -->
                    <div class="frame d-flex flex-column align-items-start" style="width: 105.74px; height: 20px;">
                        <!-- Title in Frame -->
                        <div class="title" style="width: 105.74px; height: 20px; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; color: #000000;">
                            Nguyễn Ngọc Hà
                        </div>
                        <img src="7.jpg" style="width: 60px; height: 30px">
                    </div>
                </div>
                <!-- Review Content -->
                <p>Tôi hài lòng với việc xét nghiệm máu tại nhà.</p>
            </div>
        </div>
    </div>
</div>
<!-- Lợi ích của việc lấy máu tại nhà-->
<div style="height:50px" class="row"></div>
<div class="row">
    <div class="col-md-6 d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center align-items-center">
            <h4 style="font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 40px; line-height: 48px;" class="text-center">
                Lợi ích của xét nghiệm máu tại nhà
            </h4>
        </div>
        <div class="d-grid gap-3 mt-5">
            <div class="p-3 d-flex align-items-center">
                <img style="width:40px" src="3.png" alt="Icon">
                <p style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 28px; margin-left: 10px;">
                    Tiết kiệm thời gian
                    - Không cần di chuyển
                </p>
            </div>
            <div class="p-3 d-flex align-items-center">
                <img style="width:40px" src="5.png" alt="Icon">
                <p style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 28px; margin-left: 10px;">
                    Kết quả nhanh
                    - Nhận kết quả trong vài giờ
                </p>
            </div>
            <div class="p-3 d-flex align-items-center">
                <img style="width:40px" src="6.jpg" alt="Icon">
                <p style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 28px; margin-left: 10px;">
                    An toàn và uy tín
                    - Đảm bảo sự riêng tư và bảo mật
                </p>
            </div>
        </div>
    </div>



    <div class="col-md-6">
        <img style="width: 100%" src="4.jpg" alt="Hình ảnh mô tả lợi ích">
    </div>
</div>
<style>
    /* Thêm đoạn mã CSS này vào trang của bạn */
    .center-container {
        display: flex;
        justify-content: center;
        height: 100vh; /* Đảm bảo chiều cao 100% của viewport để căn giữa theo chiều dọc */
    }

    body {
        margin: 0;
    }
</style>
<!--Liên hệ đặt lịch-->
<!-- section -->
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="padding: 60px 5%; background: rgba(0, 0, 0, 0.6);">
        <!-- avatar -->
        <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-center">
            <div style="width: 100px; height: 100px; background: rgba(217, 217, 217, 0.5); border-radius: 50px;"></div>
        </div>

        <!-- container -->
        <div class="col-md-6 col-sm-12">
            <!-- title -->
            <div style="height: 32px; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 32px; color: #FFFFFF;">
                Âu Lạc
            </div>

            <!-- Selection -->
            <div style="display: flex; flex-direction: row; align-items: center; gap: 10px; height: 20px;">
                <!-- label-normal -->
                <div style=" background: rgba(217, 217, 217, 0.5); border: 0.5px solid rgba(0, 0, 0, 0.1); border-radius: 2px;">
                    <!-- label text -->
                    <div style=" font-family: 'Roboto'; font-style: normal; font-weight: 420; font-size: 14px; color: #000000;">
                        Dịch vụ xét nghiệm máu tại nhà
                    </div>
                </div>
            </div>
            <!-- description -->
            <div style=" font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 16px; color: #FFFFFF;">
                Chúng tôi cam kết mang đến cho bạn dịch vụ xét nghiệm máu chất lượng và đáng tin cậy.
            </div>
        </div>

        <!-- Button -->
        <div class="col-md-3 col-sm-12">
            <a href="#" style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; gap: 12px; width: 160px; height: 48px; margin: 0 auto;">
                <!-- primary -->
                <div style="width: 14rem; height: 50rem; background: #000000; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
                    <!-- title -->
                    <div style="width: 63px; height: 24px; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 24px; color: #FFFFFF;">
                        Đặt ngay
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-8">

                <img src="9.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
                <div class="card-body d-grid gap-4">
                    <h3 class="card-title">Quy Trình Thực Hiện</h3>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Đặt lịch</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Đặt trực tiếp tại website hoặc liện hệ 0988999999</p>
                        </div>
                    </div>
                    <div class="card  p-2">
                        <div class="card-header">
                            <h5 class="card-title">Lấy mẫu</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Nhân viên y tế sẽ đến lấy mẫu trực tiếp tại nhà của bạn</p>
                        </div>
                    </div>
                    <div class="card p-2">
                        <div class="card-header ">
                            <h5 class="card-title">Trả kết quả</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Kết quả sẽ được gửi đến bạn một cách nhanh ngay khi có kết quả</p>
                        </div>
                    </div>
                    <div class="card p-2">
                        <div class="card-header ">
                            <h5 class="card-title">Tư vấn</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Chúng tôi có đội ngũ chuyên nguyệp sẵn sàng tư vấn kết quả xét nghiệm cho bạn</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Liên hệ - địa chỉ goodMap-->

<div class="lienhe-info">
    <div class="info-left">
        <div class="guithongtin">
            <h2 style="font-size: 22px;">Liên hệ với chúng tôi</h2>

            <form name="formlh" onsubmit="return nguoidung()">
                <table>
                    <tr>
                        <td>Họ và tên</td>
                        <td><input type="text" name="ht" placeholder="Họ tên" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td>Điện thoại liên hệ</td>
                        <td><input type="text" name="sdt" placeholder="Điện thoại" required></td>
                    </tr>
                    <tr>
                        <td>Địa chỉ Email</td>
                        <td><input type="email" name="em" placeholder="Email" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td>Nội dung</td>
                        <td><textarea name="nd" rows="5" maxlength="500" placeholder="Nội dung liên hệ" required></textarea></td>
                    </tr>
                    <!-- Sử dụng thêm class cho hàng chứa nút "Gửi yêu cầu" -->
                    <tr class="button-cell">
                        <td colspan="2"><button type="submit">Gửi yêu cầu</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="info-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d626.2666466867495!2d107.5921861616567!3d16.45897538255283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a13f5a9746a7%3A0xc608a91b8c7b5498!2zNzcgTmd1eeG7hW4gSHXhu4csIFBow7ogTmh14bqtbiwgVGjDoG5oIHBo4buRIEh14bq_LCBUaOG7q2EgVGhpw6puIEh14bq_LCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1690080716139!5m2!1sen!2s"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <a href="https://www.maps.ie/create-google-map/" target="_blank" rel="noopener noreferrer">Embed Google Map</a>
    </div>
</div>

<!-- Trang thông tin-->
<footer id="footer" class="site-footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-logo">
                <div class="img">
                    <img src="img/Bacsi/1.jpg" >
                </div>
                <div class="info">
                    <h3>Bệnh viện </h3>
                    <p>Trực thuộc Công ty TNHH Công nghệ và Xét nghiệm Y học</p>
                </div>
            </div>
        </div>
    </div>
</footer>
@code {
    [SupplyParameterFromForm]
    public String Input { get; set; } = new(""); 
    String err = "";
    private async Task add()
    {
        if (string.IsNullOrEmpty(Input))
        {
            err = "Address is required.";
        }
        else
        {
            err = "aa";
        }
    }

}
