@page "/"

@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager navigation;
@if (err != "")
{
    <p>@err</p>
}
<div class="card text-center">

    <div style="height: 300px;" class="card-body">
        <h4 class="card-title">Xét Nghiệm Máu Tại Nhà</h4>
        <p class="card-text">Dịch vụ xét nghiệm máu chất lượng cao, tiện lợi và an toàn ngay tại nhà bạn</p>
        <EditForm Model="Input" method="post" OnValidSubmit="add" FormName="register">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <InputText style="width: 70%; height: 36px;" @bind-Value="Input" placeholder="Nhập kết quả xét nghiệm                  " />
            <ValidationMessage For="() => Input" class="text-danger" />
                <br>
            <br>
            <br>
            <div class="row justify-content-center">
                <a style="width:250px;" href="/datlich" class="btn btn-outline-dark  ">Đặt lịch hẹn</a>
                <button style="width:250px;" type="submit" class="btn btn-dark ">Xem kết quả</button>
            </div>
        </EditForm>
    </div>
</div>
<div style="height:50px;" class="row"></div>
<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6 d-flex flex-column align-items-center">
        <h4 style="font-family: 'Roboto';font-style: normal;font-weight: 700;font-size: 40px;line-height: 48px;">
            Dịch vụ của chúng tôi
        </h4>
        <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;">
            Chúng tôi cung cấp các gói xét nghiệm máu chuyên sâu,
        </p>
        <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;">
            đảm bảo phục vụ mọi nhu cầu của bạn.
        </p>
        <a href="#" class="btn btn-dark">Đặt lịch hẹn</a>
        <div style="height:30px" class="row"></div>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="1.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">xét nghiệm máu tổng quát</h5>
                        <p class="card-text">240 chỉ số xét nghiệm </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="2.jpg" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Đường huyết (đói)</h5>
                        <p class="card-text">100 chỉ số xét nghiệm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--TaiSSaoChonChungtoi-->


    <!-- Tại sao chọn chúng tôi -->
    <div class="container">
        <div class="block-title">
            <h2 style="font-family: 'Roboto';font-style: normal;font-weight: 700;font-size: 40px;line-height: 48px;">
                VÌ SAO CHỌN CHÚNG TÔI ?
            </h2>
            <p>
                Lấy mẫu xét nghiệm tại nhà giúp tiết kiệm thời gian và kết quả sẽ được trả ngay tại nhà hoặc tra cứu kết quả trên website.
                Mang lại cho bạn những kết qủa chính xác và tin cậy.
            </p>
        </div>
        <div class="xntn-why-container">
            <div class="xntn-why-item">
                <div class="xntn-why-item-image">
                    <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5833 34.9541C14.5833 29.6541 18.9166 25.3374 24.2374 25.3374H75.7624C81.0624 25.3374 85.3749 29.6541 85.3749 34.9541V47.6916C78.5291 51.9458 70.6374 54.9249 62.3291 56.3874C60.0457 51.7749 55.2957 48.7499 49.9582 48.7499C44.6666 48.7499 39.8958 51.7624 37.5458 56.3499C29.2874 54.8958 21.4249 51.9291 14.5833 47.6916V34.9541ZM44.5999 14.5833H55.3583C58.1583 14.5833 60.5041 16.5041 61.1999 19.0874H38.7541C39.4541 16.5041 41.7958 14.5833 44.5999 14.5833ZM39.0999 62.9207C40.6833 63.1416 42.1291 62.1666 42.5458 60.6499C43.4749 57.2666 46.4541 54.9999 49.9582 54.9999C53.4249 54.9999 56.4333 57.3166 57.2749 60.6333C57.6333 62.0332 58.8916 62.9916 60.3041 62.9916C60.4457 62.9916 60.5916 62.9832 60.7332 62.9624C71.4374 61.4791 81.6332 57.6916 90.2249 52.0083C91.0999 51.4249 91.6249 50.4499 91.6249 49.3999V34.9541C91.6249 26.2041 84.5083 19.0874 75.7624 19.0874H67.5249C66.7458 13.0416 61.6166 8.33325 55.3582 8.33325H44.5999C38.3416 8.33325 33.2166 13.0374 32.4333 19.0874H24.2374C15.4666 19.0874 8.33325 26.2041 8.33325 34.9541V49.3999C8.33325 50.4499 8.85825 51.4291 9.73742 52.0083C18.3166 57.6666 28.4708 61.4374 39.0999 62.9207ZM46.8545 64.1003V69.492C46.8545 71.217 48.2545 72.617 49.9795 72.617C51.7045 72.617 53.1045 71.217 53.1045 69.492V64.1003C53.1045 62.3753 51.7045 60.9753 49.9795 60.9753C48.2545 60.9753 46.8545 62.3753 46.8545 64.1003ZM85.4524 64.237C85.5774 62.637 86.8816 61.362 88.5191 61.362C90.2399 61.362 91.6357 62.7578 91.6357 64.4787C91.6357 64.5053 91.5861 65.147 91.5123 66.0994C91.3324 68.4218 91.0095 72.592 90.9149 74.1995C90.6774 78.1078 89.1608 82.0953 86.8566 84.8703C83.6482 88.737 79.5608 90.5453 74.0024 90.5578C71.4233 90.562 60.7649 90.5662 50.1024 90.5662C39.4441 90.5662 28.7816 90.562 26.2066 90.5578C20.6441 90.5453 16.5566 88.737 13.3483 84.8662C11.0483 82.0953 9.52742 78.1078 9.29409 74.1995C9.19799 72.6154 8.88211 68.5424 8.70058 66.2017C8.62236 65.1932 8.56909 64.5063 8.56909 64.4787C8.56909 62.7578 9.96492 61.362 11.6858 61.362C13.3233 61.362 14.6274 62.637 14.7524 64.237C14.7524 64.237 15.3941 71.5245 15.5316 73.8245C15.6858 76.3703 16.7191 79.1412 18.1608 80.8745C20.2024 83.337 22.4608 84.2995 26.2149 84.3078C31.3649 84.3162 68.8358 84.3162 73.9899 84.3078C77.7483 84.2995 80.0066 83.337 82.0441 80.8787C83.4899 79.1412 84.5233 76.3703 84.6774 73.8245C84.8108 71.5245 85.4524 64.237 85.4524 64.237Z" fill="#1D93E3"></path>
                    </svg>
                </div>
                <div class="xntn-why-item-detail">
                    <h3 class="xntn-why-item-title">Kinh nghiệm</h3>
                    <div class="xntn-why-item-des">
                        Bệnh viện Âu Lạc có hơn một thập kỷ hoạt động trong lĩnh vực y tế, được mô tả là một địa chỉ uy tín và có kinh nghiệm trong xét nghiệm máu.
                    </div>
                </div>
            </div>
            <div class="xntn-why-item">
                <div class="xntn-why-item-image">
                    <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M46.9075 8.44305C41.6547 9.17401 37.4163 11.2615 33.7014 14.9473C31.7281 16.9051 30.5465 18.6056 29.8793 20.4483L29.4211 21.714L29.3674 29.0075C29.3225 35.1027 29.356 36.5464 29.5715 37.7959C30.0613 40.6354 31.2019 43.4358 32.9115 45.9966C34.03 47.6719 36.7042 50.3237 38.4065 51.446L39.7525 52.3335L39.7086 55.4136L39.6646 58.4936L31.8521 60.236C23.4294 62.1143 22.4486 62.4201 20.2621 63.8484C18.0377 65.3015 16.2592 67.235 15.0024 69.5665C14.2763 70.9137 8.33325 88.4672 8.33325 89.2649C8.33325 90.4643 9.55542 91.6666 10.7747 91.6666C11.5673 91.6666 12.5209 91.09 12.8658 90.4022C13.0336 90.0674 14.4661 85.8995 16.0489 81.14C18.9789 72.3304 19.315 71.5085 20.6594 69.8668C21.3992 68.9633 22.9325 67.8172 24.2024 67.2188C25.1762 66.7597 29.0818 65.7397 29.2439 65.9019C29.2909 65.949 29.3293 68.3839 29.3293 71.3126V76.6378L28.2582 77.1655C26.1632 78.1976 24.4937 80.4994 24.129 82.8589C23.3269 88.0484 28.1318 92.5819 33.2683 91.4819C36.3583 90.8201 38.8126 88.1646 39.2693 84.9889C39.7162 81.8802 37.9721 78.5406 35.2192 77.234L34.2284 76.764L34.2213 70.7378L34.2139 64.7116L37.552 63.9649C39.8982 63.4399 40.933 63.2706 41.0346 63.3948C41.114 63.4921 42.6939 66.1001 44.5453 69.1905C46.3969 72.281 48.1034 75.0123 48.3376 75.2601C49.15 76.119 50.7105 76.1637 51.5764 75.3526C51.7996 75.1434 53.5618 72.3339 55.4923 69.1091C57.4228 65.8843 59.0094 63.2351 59.0178 63.2219C59.0263 63.2087 60.5528 63.5351 62.4104 63.947L65.7877 64.6962V68.0622V71.4284L65.0575 71.6329C62.8627 72.2479 60.2611 74.4807 59.1274 76.7226C58.1016 78.7505 57.9504 79.9315 58.0085 85.458C58.054 89.7659 58.075 90.0392 58.3922 90.4641C59.1396 91.4651 59.4589 91.5812 61.6078 91.6325C63.2574 91.672 63.6855 91.6309 64.1568 91.3882C66.2151 90.3284 65.7432 87.2005 63.4705 86.8368L62.8297 86.7344L62.8858 83.4592C62.9407 80.2519 62.9516 80.1632 63.4102 79.1668C63.925 78.0482 64.8573 77.0801 65.975 76.5031C67.0299 75.9586 68.9867 75.8861 70.2061 76.3464C71.4861 76.8296 72.4999 77.7754 73.1466 79.0898L73.6816 80.1769L73.7385 83.4553L73.7956 86.7336L73.1527 86.8365C70.8778 87.2005 70.4047 90.3278 72.4641 91.3882C72.9355 91.6309 73.3635 91.672 75.0131 91.6325C77.1623 91.5812 77.4822 91.465 78.2288 90.4635C78.551 90.0314 78.5644 89.8103 78.5637 84.936C78.5632 80.5952 78.5217 79.7079 78.2771 78.8201C77.392 75.6079 74.8445 72.8266 71.7665 71.7119L70.7519 71.3443L70.7069 68.6918C70.6824 67.2329 70.719 65.9867 70.7883 65.9226C70.9809 65.7447 75.037 66.8061 75.9602 67.2758C77.1492 67.8807 78.6667 69.044 79.3404 69.8668C80.6879 71.5123 81.0188 72.324 84.0349 81.3843C85.6641 86.2782 87.1067 90.4512 87.2408 90.6581C87.5556 91.1434 88.5849 91.6666 89.2252 91.6666C90.4444 91.6666 91.6666 90.4643 91.6666 89.2649C91.6666 88.6667 85.8308 71.1769 85.2402 70.0049C83.4159 66.3856 80.2131 63.5409 76.4485 62.1966C75.9114 62.0047 72.0662 61.0907 67.9036 60.1651L60.3352 58.4825L60.2974 55.408L60.2597 52.3335L61.5995 51.4433C63.2865 50.3226 65.9576 47.6732 67.0681 46.0191C68.7725 43.4806 69.941 40.6211 70.4283 37.7959C70.6438 36.5464 70.6773 35.1027 70.6324 29.0075L70.5787 21.714L70.1205 20.4483C69.4537 18.6068 68.2717 16.9053 66.2984 14.9463C63.0194 11.6913 59.3536 9.70659 54.8464 8.74631C53.1098 8.37627 48.6197 8.20477 46.9075 8.44305ZM52.9985 13.4088C55.0141 13.7129 57.4047 14.5218 59.0194 15.4463C61.6925 16.9768 64.2906 19.4815 65.2634 21.466C65.6846 22.3253 65.7069 22.4961 65.7597 25.2927L65.815 28.2202L63.7812 26.2393C61.0471 23.5771 60.9609 23.5556 58.0372 24.8123C57.2904 25.1331 55.9639 25.5895 55.0894 25.8261C53.6018 26.2291 53.2737 26.2568 49.9999 26.2568C46.7262 26.2568 46.398 26.2291 44.9104 25.8261C44.0359 25.5895 42.7094 25.1331 41.9626 24.8123C39.0308 23.5522 38.9246 23.5785 36.2177 26.2343L34.2122 28.2019V25.5647C34.2122 21.83 34.5929 20.8909 37.129 18.3708C41.2296 14.2959 46.9734 12.5001 52.9985 13.4088ZM41.7061 29.9414C44.6383 30.9487 45.9775 31.1464 49.9185 31.1538C53.9158 31.1613 54.8715 31.0264 58.1003 29.9997L59.9345 29.4164L61.5593 30.9769C62.8695 32.2354 63.4384 32.6563 64.4991 33.1519L65.8144 33.7664L65.734 35.4765C65.4403 41.7211 60.948 47.4274 54.7974 49.3683C49.2104 51.1315 43.1829 49.7136 39.0167 45.6559C36.109 42.8239 34.4436 39.2554 34.2659 35.4765L34.1855 33.7664L35.5028 33.1509C36.5701 32.6522 37.1212 32.2435 38.4052 30.9986C39.2769 30.1534 40.0548 29.4593 40.1335 29.4562C40.2125 29.4529 40.9202 29.6713 41.7061 29.9414ZM45.961 54.6414C46.829 54.8396 47.9234 54.9132 49.9999 54.9132C52.0764 54.9132 53.1708 54.8396 54.0388 54.6414C54.6938 54.4917 55.2613 54.3694 55.3002 54.3694C55.3391 54.3694 55.371 55.595 55.371 57.0929V59.8162L52.7262 64.2545C51.2716 66.6954 50.0447 68.6925 49.9999 68.6925C49.9552 68.6925 48.7284 66.6954 47.2737 64.2545L44.6288 59.8162V57.0929C44.6288 55.595 44.6607 54.3694 44.6996 54.3694C44.7385 54.3694 45.3061 54.4917 45.961 54.6414ZM32.8988 81.4814C34.9529 82.5442 34.9542 85.4112 32.9011 86.4593C32.1192 86.8585 31.3967 86.8623 30.5372 86.4717C28.4651 85.5298 28.3728 82.7713 30.3728 81.5509C30.9823 81.1789 32.2472 81.1442 32.8988 81.4814Z" fill="#1D93E3"></path>
                    </svg>
                </div>
                <div class="xntn-why-item-detail">
                    <h3 class="xntn-why-item-title">Tư vấn kết quả</h3>
                    <div class="xntn-why-item-des">
                        Bác sĩ tư vấn cho khách hàng những thắc mắc hoặc có kết quả bất thường và đưa ra lời khuyên cho bệnh nhân.
                    </div>
                </div>
            </div>
            <div class="xntn-why-item">
                <div class="xntn-why-item-image">
                    <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M49.7406 14.323C39.0925 14.323 30.5396 22.8759 30.5396 33.524C30.5396 44.1753 39.0918 52.7289 49.7406 52.7289C60.3895 52.7289 68.9417 44.1753 68.9417 33.524C68.9417 22.8759 60.3888 14.323 49.7406 14.323ZM49.7406 20.573C56.937 20.573 62.6917 26.3277 62.6917 33.524C62.6917 40.7237 56.9374 46.4789 49.7406 46.4789C42.5438 46.4789 36.7896 40.7237 36.7896 33.524C36.7896 26.3277 42.5443 20.573 49.7406 20.573ZM26.2083 18.2475C27.9342 18.2475 29.3333 19.6466 29.3333 21.3725C29.3333 23.0984 27.9342 24.4975 26.2083 24.4975C21.2567 24.4975 17.2409 28.5116 17.2409 33.461C17.2409 38.4105 21.2567 42.4246 26.2083 42.4246C27.9342 42.4246 29.3333 43.8237 29.3333 45.5496C29.3333 47.2754 27.9342 48.6746 26.2083 48.6746C17.8056 48.6746 10.9909 41.8629 10.9909 33.461C10.9909 25.0592 17.8056 18.2475 26.2083 18.2475ZM88.5293 33.461C88.5293 25.0592 81.7147 18.2475 73.312 18.2475C71.5861 18.2475 70.187 19.6466 70.187 21.3725C70.187 23.0984 71.5861 24.4975 73.312 24.4975C78.2635 24.4975 82.2793 28.5116 82.2793 33.461C82.2793 38.4105 78.2635 42.4246 73.312 42.4246C71.5861 42.4246 70.187 43.8237 70.187 45.5496C70.187 47.2754 71.5861 48.6746 73.312 48.6746C81.7147 48.6746 88.5293 41.8629 88.5293 33.461ZM85.3993 56.4791C83.3985 56.0276 81.2603 55.7189 79.0862 55.5689C77.3644 55.4502 75.8723 56.7497 75.7536 58.4715C75.6348 60.1933 76.9344 61.6854 78.6562 61.8041C80.5167 61.9324 82.34 62.1957 84.1128 62.5947C86.8698 63.1357 88.6673 64.0324 89.1134 64.9672C89.4489 65.6729 89.4489 66.5026 89.1102 67.2167C88.67 68.1422 86.8875 69.0344 84.1695 69.5933C82.479 69.9409 81.3904 71.5932 81.738 73.2837C82.0856 74.9742 83.7379 76.0628 85.4284 75.7152C89.9209 74.7914 93.2118 73.1441 94.7557 69.8983C95.9004 67.4851 95.9004 64.6863 94.7559 62.2793C93.201 59.0212 89.8535 57.3511 85.3993 56.4791ZM23.7667 58.4715C23.6479 56.7497 22.1559 55.4502 20.4341 55.5689C18.26 55.7189 16.1217 56.0276 14.0352 56.4972L13.175 56.6791C9.22657 57.5813 6.21427 59.2392 4.76839 62.2789C3.61899 64.6838 3.61899 67.4875 4.7696 69.9009C6.30679 73.1432 9.59751 74.791 14.0919 75.7152C15.7824 76.0628 17.4346 74.9742 17.7823 73.2837C18.1299 71.5932 17.0413 69.9409 15.3507 69.5933C12.6337 69.0346 10.853 68.1429 10.4141 67.2173C10.0722 66.5001 10.0722 65.6754 10.4099 64.9688C10.8557 64.0317 12.6514 63.1355 15.3217 62.6127L16.7101 62.3285C18.0943 62.0725 19.4687 61.9004 20.8641 61.8041C22.5859 61.6854 23.8854 60.1933 23.7667 58.4715ZM21.5295 71.6024C21.5295 61.6609 31.8126 58.1649 49.7406 58.1649L51.0108 58.1708C68.1896 58.3321 77.9518 61.8363 77.9518 71.5298C77.9518 80.9952 68.6202 84.6195 52.2489 84.9432L49.7406 84.9673C31.7715 84.9673 21.5295 81.5327 21.5295 71.6024ZM71.7018 71.5298C71.7018 66.9025 64.2828 64.4149 49.7406 64.4149C35.2127 64.4149 27.7795 66.942 27.7795 71.6024C27.7795 76.2302 35.1961 78.7173 49.7406 78.7173C64.2642 78.7173 71.7018 76.1879 71.7018 71.5298Z" fill="#1D93E3"></path>
                    </svg>
                </div>
                <div class="xntn-why-item-detail">
                    <h3 class="xntn-why-item-title">Nhân lực</h3>
                    <div class="xntn-why-item-des">
                        Đội ngũ chuyên gia, bác sĩ đầu ngành và nhân viên lấy mẫu chuyên nghiệp với chứng chỉ hành nghề.
                    </div>
                </div>
            </div>
            <div class="xntn-why-item">
                <div class="xntn-why-item-image">
                    <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M55.8333 72.5834H45.3749C38.5416 72.5834 32.9999 66.8334 32.9999 59.7501C32.9999 58.0418 34.4166 56.6251 36.1249 56.6251C37.8333 56.6251 39.2499 58.0418 39.2499 59.7501C39.2499 63.3751 41.9999 66.3334 45.3749 66.3334H55.8333C58.5416 66.3334 60.7916 63.9168 60.7916 61.0001C60.7916 57.3751 59.4999 56.6668 57.3749 55.9167L40.5833 50.0001C37.3333 48.8751 32.9583 46.4584 32.9583 39.0001C32.9583 32.5834 37.9999 27.4167 44.1666 27.4167H54.6249C61.4583 27.4167 66.9999 33.1667 66.9999 40.2501C66.9999 41.9584 65.5833 43.3751 63.8749 43.3751C62.1666 43.3751 60.7499 41.9584 60.7499 40.2501C60.7499 36.6251 57.9999 33.6667 54.6249 33.6667H44.1666C41.4583 33.6667 39.2083 36.0834 39.2083 39.0001C39.2083 42.6251 40.4999 43.3334 42.6249 44.0834L59.4166 50.0001C62.6666 51.1251 67.0416 53.5418 67.0416 61.0001C66.9999 67.3751 61.9999 72.5834 55.8333 72.5834Z" fill="#1D93E3"></path>
                        <path d="M50 78.125C48.2917 78.125 46.875 76.7083 46.875 75V25C46.875 23.2917 48.2917 21.875 50 21.875C51.7083 21.875 53.125 23.2917 53.125 25V75C53.125 76.7083 51.7083 78.125 50 78.125Z" fill="#1D93E3"></path>
                        <path d="M49.9999 94.7916C25.2916 94.7916 5.20825 74.7083 5.20825 49.9999C5.20825 25.2916 25.2916 5.20825 49.9999 5.20825C74.7083 5.20825 94.7916 25.2916 94.7916 49.9999C94.7916 74.7083 74.7083 94.7916 49.9999 94.7916ZM49.9999 11.4583C28.7499 11.4583 11.4583 28.7499 11.4583 49.9999C11.4583 71.2499 28.7499 88.5416 49.9999 88.5416C71.2499 88.5416 88.5416 71.2499 88.5416 49.9999C88.5416 28.7499 71.2499 11.4583 49.9999 11.4583Z" fill="#1D93E3"></path>
                    </svg>
                </div>
                <div class="xntn-why-item-detail">
                    <h3 class="xntn-why-item-title">Chi phí</h3>
                    <div class="xntn-why-item-des">
                        Bệnh viện cam kết cung cấp dịch vụ với chi phí hợp lý và minh bạch, thông báo bảng giá dịch vụ công khai.
                    </div>
                </div>
            </div>
            <div class="xntn-why-item">
                <div class="xntn-why-item-image">
                    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M49.9992 8.33545C26.9858 8.33545 8.33252 26.9887 8.33252 50.0021C8.33252 73.0155 26.9858 91.6688 49.9992 91.6688C73.0126 91.6688 91.6659 73.0155 91.6659 50.0021C91.6659 26.9887 73.0126 8.33545 49.9992 8.33545ZM49.9992 14.5854C69.5608 14.5854 85.4159 30.4405 85.4159 50.0021C85.4159 69.5637 69.5608 85.4188 49.9992 85.4188C30.4376 85.4188 14.5825 69.5637 14.5825 50.0021C14.5825 30.4405 30.4376 14.5854 49.9992 14.5854ZM51.6857 32.2714C51.4787 30.7461 50.1713 29.5704 48.5892 29.5704C46.8633 29.5704 45.4642 30.9696 45.4642 32.6954V52.8913L45.499 53.3569C45.6371 54.2738 46.1781 55.0918 46.9882 55.575L62.6965 64.9459L63.0753 65.1386C64.4913 65.7423 66.1707 65.2218 66.9813 63.8631L67.174 63.4843C67.7777 62.0684 67.2572 60.3889 65.8985 59.5784L51.7125 51.1125L51.7142 32.6954L51.6857 32.2714Z" fill="#1D93E3"></path>
                    </svg>
                </div>
                <div class="xntn-why-item-detail">
                    <h3 class="xntn-why-item-title">Thời gian phục vụ</h3>
                    <div class="xntn-why-item-des">
                        Bệnh viện hứa hẹn thời gian phục vụ linh hoạt và ngắn gọn, giảm thiểu đợi lâu cho bệnh nhân.
                    </div>
                </div>
            </div>
            <div class="xntn-why-item">
                <div class="xntn-why-item-image">
                    <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M60.8611 8.38298C60.6817 8.35095 60.4969 8.33423 60.3083 8.33423C60.1196 8.33423 59.9349 8.35095 59.7554 8.38298H33.682C23.3183 8.38298 14.582 16.7906 14.582 27.0455V71.683C14.582 82.5187 22.9345 91.1038 33.682 91.1038H66.9695C77.1916 91.1038 85.632 82.0958 85.632 71.683V33.4913C85.632 32.6846 85.32 31.9091 84.7614 31.3271L63.6572 9.34381C63.0679 8.72997 62.2538 8.38298 61.4029 8.38298H60.8611ZM57.1833 14.6296L33.682 14.633C26.7176 14.633 20.832 20.2971 20.832 27.0455V71.683C20.832 79.1047 26.4253 84.8538 33.682 84.8538H66.9695C73.6456 84.8538 79.382 78.7317 79.382 71.683L79.3793 37.4304L75.7314 37.4429C74.3413 37.4412 72.76 37.4382 71.0017 37.4342C63.6286 37.4186 57.6114 31.6396 57.2051 24.365L57.1833 23.5801V14.6296ZM75.9592 31.1835L71.0154 31.1842C66.8259 31.1754 63.4333 27.7736 63.4333 23.5801V18.1361L75.9592 31.1835ZM59.5166 61.6992C61.2425 61.6992 62.6416 63.0983 62.6416 64.8242C62.6416 66.4063 61.466 67.7138 59.9407 67.9207L59.5166 67.9492H37.0291C35.3032 67.9492 33.9041 66.5501 33.9041 64.8242C33.9041 63.2422 35.0798 61.9347 36.6051 61.7278L37.0291 61.6992H59.5166ZM54.1354 44.1901C54.1354 42.4642 52.7363 41.0651 51.0104 41.0651H37.027L36.603 41.0936C35.0777 41.3005 33.902 42.608 33.902 44.1901C33.902 45.916 35.3011 47.3151 37.027 47.3151H51.0104L51.4344 47.2865C52.9597 47.0796 54.1354 45.7721 54.1354 44.1901Z" fill="#1D93E3"></path>
                    </svg>
                </div>
                <div class="xntn-why-item-detail">
                    <h3 class="xntn-why-item-title">Trả kết quả</h3>
                    <div class="xntn-why-item-des">
                        Bệnh viện cam kết mang lại kết quả chính xác và tin cậy cho bệnh nhân.
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- Tin tức mõi ngày-->
<div class="container">
    <div style="height: 50px;" class="row"></div>
    <div class="row">
        <div class="col-md-12 d-flex flex-column ">
            <div class="d-flex flex-column align-items-center align-self-start" style="max-width: 800px; margin: 0 auto; ">
                <h4 style="font-family: 'Roboto'; font-style: normal; font-weight: 800; font-size: 40px; line-height: 30px;">
                    Tin tức mỗi ngày
                </h4>
            </div>
        </div>
    </div>
    <div style="height: 20px;" class="row"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="post-item-info">
                <div class="post-item-photo">
                    <a href="/Ng%C6%B0%C6%A1iHung:NhungChienSiVuotKhoKhanTrongViecLayXetNghiemMauTaiNha" class="post-image-container" tabindex="-1">
                        <img src="https://medlatec.vn/media/34156/file/_lay-mau-3.jpg" alt="" loading="lazy" style="width: 100%;">
                    </a>
                </div>
                <div class="post-item-details">
                    <h3 class="post-item-title">
                        <a href="/Ng%C6%B0%C6%A1iHung:NhungChienSiVuotKhoKhanTrongViecLayXetNghiemMauTaiNha" tabindex="-1">NHỮNG CHIẾN SĨ VƯỢT KHÓ KHĂN TRONG VIỆC...</a>
                    </h3>
                    <div class="post-item-excerpt">
                        Hình ảnh nữ cán bộ y tế chèo thuyền đến tận nhà lấy mẫu xét nghiệm khi Huế ngập trong biển nước vẫn luôn khiến ...
                    </div>
                    <div class="post-item-actions">
                        <a href="/Ng%C6%B0%C6%A1iHung:NhungChienSiVuotKhoKhanTrongViecLayXetNghiemMauTaiNha" tabindex="-1">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="post-item-info">
                <div class="post-item-photo">
                    <a href="/NhungLoiIchKhiXetNghiemMauTaiNha" class="post-image-container" tabindex="-1">
                        <img src="https://medlatec.vn/media/34156/file/_lay-mau-3.jpg" alt="" loading="lazy" style="width: 100%;">
                    </a>
                </div>
                <div class="post-item-details">
                    <h3 class="post-item-title">
                        <a href="/NhungLoiIchKhiXetNghiemMauTaiNha" tabindex="-1">LỢI ÍCH KHI XÉT NGHIỆM MÁU TẠI NHÀ...</a>
                    </h3>
                    <div class="post-item-excerpt">
                        Hình ảnh nữ cán bộ y tế chèo thuyền đến tận nhà lấy mẫu xét nghiệm khi Huế ngập trong biển nước vẫn luôn khiến ...
                    </div>
                    <div class="post-item-actions">
                        <a href="/NhungLoiIchKhiXetNghiemMauTaiNha" tabindex="-1">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="post-item-info">
                <div class="post-item-photo">
                    <a href="/NhungLoiIchKhi" class="post-image-container" tabindex="-1">
                        <img src="https://medlatec.vn/media/34156/file/_lay-mau-3.jpg" alt="" loading="lazy" style="width: 100%;">
                    </a>
                </div>
                <div class="post-item-details">
                    <h3 class="post-item-title">
                        <a href="/NhungLoiIchKhi" tabindex="-1">DỊCH VỤ LẤY MẪU XÉT NGHIỆM TẬN NƠI MEDLATEC - GỌI LÀ CÓ!...</a>
                    </h3>
                    <div class="post-item-excerpt">
                        Hình ảnh nữ cán bộ y tế chèo thuyền đến tận nhà lấy mẫu xét nghiệm khi Huế ngập trong biển nước vẫn luôn khiến ...
                    </div>
                    <div class="post-item-actions">
                        <a href="/NhungLoiIchKhi" tabindex="-1">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="post-item-info">
                <div class="post-item-photo">
                    <a href="/NhungLoiIch" class="post-image-container" tabindex="-1">
                        <img src="https://medlatec.vn/media/34156/file/_lay-mau-3.jpg" alt="" loading="lazy" style="width: 100%;">
                    </a>
                </div>
                <div class="post-item-details">
                    <h3 class="post-item-title">
                        <a href="/NhungLoiIch" tabindex="-1">DỊCH VỤ LẤY MẪU XÉT NGHIỆM TẬN NƠI MEDLATEC - GỌI LÀ CÓ!...</a>
                    </h3>
                    <div class="post-item-excerpt">
                        Hình ảnh nữ cán bộ y tế chèo thuyền đến tận nhà lấy mẫu xét nghiệm khi Huế ngập trong biển nước vẫn luôn khiến ...
                    </div>
                    <div class="post-item-actions">
                        <a href="/NhungLoiIch" tabindex="-1">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nhận xét của khách hàng -->
<div style="height:50px;" class="row"></div>
<div class="row d-flex align-items-center justify-content-center">
    <!-- Title -->
    <div class="col-md-6 d-flex flex-column align-items-center">
        <div class="title" style=" font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 40px; line-height: 48px; color: #000000;">
            Nhận xét của khách hàng
        </div>
    </div>

    <div class="col-md-6 d-flex flex-wrap justify-content-center">
        <!-- Customer Review Card 1 -->
            <div class="col-md-6">
             <div class="card d-flex flex-column justify-content-center align-items-center p-3 gap-3" style=" background: rgba(0, 0, 0, 0.05); border-radius: 6px;">
                 <!-- User -->
                 <div class="user d-flex flex-row align-items-center gap-2" style="">
                     <!-- Avatar -->
                    <div class="avatar d-flex flex-row align-items-center gap-2" style="width: 32px; height: 32px; background: rgba(0, 0, 0, 0.1); border-radius: 32px;"></div>
                    <!-- Frame -->
                    <div class="frame d-flex flex-column align-items-start" style="width: 105.74px; height: 20px;">
                        <!-- Title in Frame -->
                        <div class="title" style="width: 105.74px; height: 20px; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; color: #000000;">
                            Văn Tương Linh
                        </div>
                            <img src="7.jpg" style="width: 60px; height: 30px">
                     </div> 
                </div>
                <!-- Review Content -->
                <p>Dịch vụ nhanh chóng, tiện lợi và dễ dàng sử dụng.</p>
             </div>
            </div>
   
        <!-- Customer Review Card 2 -->
           <div class="col-md-6">
            <div class="card d-flex flex-column justify-content-center align-items-center p-3 gap-3" style=" background: rgba(0, 0, 0, 0.05); border-radius: 6px;">
                <!-- User -->
                <div class="user d-flex flex-row align-items-center gap-2" style="">
                    <!-- Avatar -->
                    <div class="avatar d-flex flex-row align-items-center gap-2" style="width: 32px; height: 32px; background: rgba(0, 0, 0, 0.1); border-radius: 32px;"></div>
                    <!-- Frame -->
                    <div class="frame d-flex flex-column align-items-start" style="width: 105.74px; height: 20px;">
                        <!-- Title in Frame -->
                        <div class="title" style="width: 105.74px; height: 20px; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; color: #000000;">
                            Nguyễn Ngọc Hà
                        </div>
                        <img src="7.jpg" style="width: 60px; height: 30px">
                    </div>
                </div>
                <!-- Review Content -->
                <p>Tôi hài lòng với việc xét nghiệm máu tại nhà.</p>
            </div>
        </div>
    </div>
</div>
<!-- Lợi ích của việc lấy máu tại nhà-->
<div style="height:50px" class="row"></div>
<div class="row">
    <div class="col-md-6 d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center align-items-center">
            <h4 style="font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 40px; line-height: 48px;" class="text-center">
                Lợi ích của xét nghiệm máu tại nhà
            </h4>
        </div>
        <div class="d-grid gap-3 mt-5">
            <div class="p-3 d-flex align-items-center">
                <img style="width:40px" src="3.png" alt="Icon">
                <p style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 28px; margin-left: 10px;">
                    Tiết kiệm thời gian
                    - Không cần di chuyển
                </p>
            </div>
            <div class="p-3 d-flex align-items-center">
                <img style="width:40px" src="5.png" alt="Icon">
                <p style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 28px; margin-left: 10px;">
                    Kết quả nhanh
                    - Nhận kết quả trong vài giờ
                </p>
            </div>
            <div class="p-3 d-flex align-items-center">
                <img style="width:40px" src="6.jpg" alt="Icon">
                <p style="font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 28px; margin-left: 10px;">
                    An toàn và uy tín
                    - Đảm bảo sự riêng tư và bảo mật
                </p>
            </div>
        </div>
    </div>



    <div class="col-md-6">
        <img style="width: 100%" src="4.jpg" alt="Hình ảnh mô tả lợi ích">
    </div>
</div>
<style>
    /* Thêm đoạn mã CSS này vào trang của bạn */
    .center-container {
        display: flex;
        justify-content: center;
        height: 100vh; /* Đảm bảo chiều cao 100% của viewport để căn giữa theo chiều dọc */
    }

    body {
        margin: 0;
    }
</style>
<!--Liên hệ đặt lịch-->
<!-- section -->
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="padding: 60px 5%; background: rgba(0, 0, 0, 0.6);">
        <!-- avatar -->
        <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-center">
            <div style="width: 100px; height: 100px; background: rgba(217, 217, 217, 0.5); border-radius: 50px;"></div>
        </div>

        <!-- container -->
        <div class="col-md-6 col-sm-12">
            <!-- title -->
            <div style="height: 32px; font-family: 'Roboto'; font-style: normal; font-weight: 700; font-size: 24px; line-height: 32px; color: #FFFFFF;">
                Âu Lạc
            </div>

            <!-- Selection -->
            <div style="display: flex; flex-direction: row; align-items: center; gap: 10px; height: 20px;">
                <!-- label-normal -->
                <div style=" background: rgba(217, 217, 217, 0.5); border: 0.5px solid rgba(0, 0, 0, 0.1); border-radius: 2px;">
                    <!-- label text -->
                    <div style=" font-family: 'Roboto'; font-style: normal; font-weight: 420; font-size: 14px; color: #000000;">
                        Dịch vụ xét nghiệm máu tại nhà
                    </div>
                </div>
            </div>
            <!-- description -->
            <div style=" font-family: 'Roboto'; font-style: normal; font-weight: 400; font-size: 16px; color: #FFFFFF;">
                Chúng tôi cam kết mang đến cho bạn dịch vụ xét nghiệm máu chất lượng và đáng tin cậy.
            </div>
        </div>

        <!-- Button -->
        <div class="col-md-3 col-sm-12">
            <a href="#" style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; gap: 12px; width: 160px; height: 48px; margin: 0 auto;">
                <!-- primary -->
                <div style="width: 14rem; height: 50rem; background: #000000; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
                    <!-- title -->
                    <div style="width: 63px; height: 24px; font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 16px; line-height: 24px; color: #FFFFFF;">
                        Đặt ngay
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-8">

                <img src="9.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
                <div class="card-body d-grid gap-4">
                    <h3 class="card-title">Quy Trình Thực Hiện</h3>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Đặt lịch</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Đặt trực tiếp tại website hoặc liện hệ 0988999999</p>
                        </div>
                    </div>
                    <div class="card  p-2">
                        <div class="card-header">
                            <h5 class="card-title">Lấy mẫu</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Nhân viên y tế sẽ đến lấy mẫu trực tiếp tại nhà của bạn</p>
                        </div>
                    </div>
                    <div class="card p-2">
                        <div class="card-header ">
                            <h5 class="card-title">Trả kết quả</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Kết quả sẽ được gửi đến bạn một cách nhanh ngay khi có kết quả</p>
                        </div>
                    </div>
                    <div class="card p-2">
                        <div class="card-header ">
                            <h5 class="card-title">Tư vấn</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Chúng tôi có đội ngũ chuyên nguyệp sẵn sàng tư vấn kết quả xét nghiệm cho bạn</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Liên hệ - địa chỉ goodMap-->

<div class="lienhe-info">
    <div class="info-left">
        <div class="guithongtin">
            <h2 style="font-size: 22px;">Liên hệ với chúng tôi</h2>

            <form name="formlh" onsubmit="return nguoidung()">
                <table>
                    <tr>
                        <td>Họ và tên</td>
                        <td><input type="text" name="ht" placeholder="Họ tên" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td>Điện thoại liên hệ</td>
                        <td><input type="text" name="sdt" placeholder="Điện thoại" required></td>
                    </tr>
                    <tr>
                        <td>Địa chỉ Email</td>
                        <td><input type="email" name="em" placeholder="Email" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td>Nội dung</td>
                        <td><textarea name="nd" rows="5" maxlength="500" placeholder="Nội dung liên hệ" required></textarea></td>
                    </tr>
                    <!-- Sử dụng thêm class cho hàng chứa nút "Gửi yêu cầu" -->
                    <tr class="button-cell">
                        <td colspan="2"><button type="submit">Gửi yêu cầu</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="info-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d626.2666466867495!2d107.5921861616567!3d16.45897538255283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3141a13f5a9746a7%3A0xc608a91b8c7b5498!2zNzcgTmd1eeG7hW4gSHXhu4csIFBow7ogTmh14bqtbiwgVGjDoG5oIHBo4buRIEh14bq_LCBUaOG7q2EgVGhpw6puIEh14bq_LCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1690080716139!5m2!1sen!2s"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <a href="https://www.maps.ie/create-google-map/" target="_blank" rel="noopener noreferrer">Embed Google Map</a>
    </div>
</div>

<!-- Trang thông tin-->
<footer id="footer" class="site-footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-logo">
                <div class="img">
                    <img src="img/Bacsi/1.jpg" >
                </div>
                <div class="info">
                    <h3>Bệnh viện </h3>
                    <p>Trực thuộc Công ty TNHH Công nghệ và Xét nghiệm Y học</p>
                </div>
            </div>
        </div>
    </div>
</footer>
@code {
    [SupplyParameterFromForm]
    public String Input { get; set; } = new(""); 
    String err = "";
    private async Task add()
    {
        if (string.IsNullOrEmpty(Input))
        {
            err = "Address is required.";
        }
        else
        {
            err = "aa";
        }
    }

}
